-r requirements.in

attrs
flake8
jsonschema==4.20.0
mccabe
pip-tools
pluggy
py
pycodestyle
pyflakes
pytest
six
json-merge-patch
jscc>=0.2.3

# Libraries required for jsonschema format checking
# See table at bottom of https://python-jsonschema.readthedocs.io/en/latest/validate/#validating-formats
rfc3987
strict-rfc3339
compiletojsonschema==0.3.0
rfc3339-validator
rfc3986-validator
