sphinx>=4.2,<4.3
sphinx-intl
transifex-client
sphinx_rtd_theme
sphinxcontrib-opendataservices-jsonschema
sphinxcontrib-opendataservices
-e git+https://github.com/openownership/data-standard-sphinx-theme.git@master#egg=standard_theme
ocds-babel
urllib3>=1.23
requests>=2.21.0

