
/** A newer version of docutils aligns center by default. We want the old behavior of left align. **/
body .align-default {
    text-align: left !important;
}

body table.align-default {
    margin-left: 0 !important;
    margin-right: auto !important;
}
